/*
 * https://coolors.co/27213c-5a352a-a33b20-a47963-a6a57a
 *
 * #27213C - Dark Purple
 * #5A352A - Caput Mortuum
 * #A33B20 - Rufous
 * #A47963 - Chamoisee
 * #A6A57A - Sage
 */

:root {
    font-family: sans-serif;
    background-color: #F2EFEA;
    color: black;
}

body {
    max-width: 90ch;
    margin: 0 auto;
    line-height: 1.5;
}

h1, h2 {
    text-align: center;
    line-height: normal;
}

h1 {
    font-size: 4em;
    font-weight: 900;
    text-shadow: 0.02em 0.04em #27213C;
    color: #A6A57A;
}

h2 {
    border-bottom: 0.1em solid #A33B20;
    padding: 0.25em;
    margin: 1.6em 0;
}

section p {
    text-indent: 2.8em;
}
